### Girlypop ignore ###
# Directories With Compiled Files
bin/
build/
dist/

# Dynamic Files With Dynamic Data or PIIs
/date.tle
/settings.json

# Compoile Commands CLANGD
/compile_commands.json

# csv exports
*.csv